* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

.row {
    margin: 0;
}

.container-lg h1 {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.2rem;
}

.float-right {
    float: right;
}
